<% provide(:title, "Help") %>
<h1>Blogs on Tape FAQs</h1>
<h4>How do I find a blog's RSS URL?</h4>
<ol>
  <li>Navigate to the blog's homepage.</li>
  <li>Right click and select <samp>View Source</samp> or <samp>View Page Source</samp> (depending on the browser).</li>
  <li>To search the HTML source, press <kbd><kbd>ctrl</kbd> + <kbd>f</kbd></kbd>.</li>
  <li>Search for <code>rss</code> and you should see a line that looks like:</li>
    <code class="language-html" data-lang="html"><span class="nt">&lt;link</span> <span class="na">rel=</span><span class="s">"alternate"</span> <span class="na">type=</span><span class="s">"application/rss+xml"</span> <span class="na">title=</span><span class="s">"Example Feed"</span> <span class="na">href=</span><span class="s">"http://example.com/feed/"</span> <span class="nt">/&gt;</span></code>
  <li>Copy the contents of the <code>href</code> attribute.</li>
</ol>