<% if logged_in? %>
  <div class="row">
    <%= render 'layouts/feedpanel' %>
    <div class="col-md-6">
      Select a subscription on the left.
    </div>
    <%= render 'layouts/playerpanel' %>
  </div>
<% else %>
    
    <div class="center jumbotron">
        <h1>Welcome to Blogs on Tape</h1>
        <h2>
            This is the home page for Blogs on Tape POC.
        </h2>
        
        <%= link_to "Sign up now!", signup_path, class: "btn btn-lg btn-primary" %>
    </div>
    
    <%= link_to image_tag("rails.png", alt: "Rails logo"),
                'http://rubyonrails.org/' %>

<% end %>