<div class="row">
  <%= render 'layouts/feedpanel' %>
  <div class="col-md-6">
    <table id="feeds" class="table table-striped">
      <thead>
        <tr>
          <th>Article</th>
          <th>Released</th>
        </tr>
      </thead>
      <tbody>
        <% @rssFeed.items.each do |item| %>
          <tr>
            <td>
              <h4><%= item.title %></h4>
              <%= item.description.html_safe %>
              <%= form_for create_transient_article, url: '/articles/record', :remote => true, html: {class: "text-right"} do |f| %>
                <%= f.hidden_field :feed_id, :value => @feed.id %>
                <%= f.hidden_field :title, :value => item.title %>
                <%= f.hidden_field :urlstring, :value => item.link %>
                <%= button_tag(type: 'submit', class: "btn btn-sm") do %>
                  <span class="glyphicon glyphicon-record"></span>
                <% end %>                
              <% end %>
            </td>
            <td><small>
              <% if !!(item.pubDate) %>
                Posted <%= time_ago_in_words(item.pubDate) %> ago.
              <% end %>
            </small></td>
          </tr> 
        <% end %>
      </tbody>
    </table>
  </div>
    <%= render 'layouts/playerpanel' %>

</div>

<div class="modal fade" id="article-modal" tabindex="-1" role="dialog" aria-labelledby="article-modal_label" aria-hidden="true">
  <div class="modal-dialog article-modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h3 class="modal-title">
          
        </h3>
      </div>
      <div class="modal-body">

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

