<%= form_for [@article, @recording], :url => article_recordings_path(@article), :html => { :multipart => true } do |form| %>
  <%= form.file_field :audiofile, class: "filestyle", data: {buttonName: "btn-primary"}, :tabindex => '-1' %>
  <div class="bootstrap-filestyle input-group">
    <input type="text" class="form-control" disabled>
    <span class="group-span-filestyle input-group-btn" tabindex="0">
      <label for="recording_audiofile" class="btn btn_primary">
        <span class="glyphicon glyphicon-folder-open">
        </span> " Choose file"
      </label>
    </span>
  </div>
  <%= form.submit "Upload recording", class: "btn btn-primary" %>
<% end %>