<div class="modal fade" id="rec-modal" tabindex="-1" role="dialog" aria-labelledby="rec-modal_label" aria-hidden="true">
  <div class="modal-dialog rec-modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
        <h3 class="rec-modal-title">
          
        </h3>
      </div>
      <div class="rec-modal-body">

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>