<li>
  <%= link_to recording.audiofile_file_name, recording %>
  <%= audio_tag recording.audiofile.url, preload: "auto", controls: true %>
    <% if current_user.admin? %>
    | <%= link_to "delete", recording, method: :delete,
                                  data: { confirm: "You sure?" } %>
  <% end %>
</li>