<% provide(:title, 'Upload Recording') %>
<h1>Upload</h1>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for [@article, @recording], :url => article_recordings_path(@article), :html => { :multipart => true } do |form| %>
      <%= form.file_field :audiofile, class: "filestyle", data: {buttonName: "btn-primary"} %>
      <%= form.submit "Upload recording", class: "btn btn-primary" %>
    <% end %>
  </div>
</div>