<script>
  audiojs.events.ready(function() {
    var as = audiojs.createAll();
  });
</script>

<audio src="<%= @urlstring %>" preload="auto"></audio>
<small>Recording of</small>  <%= link_to @article_title, article_path(id: @recording.article_id) %>
<small>Uploaded by</small>  <%= @uploaded_by %>