<h1><%= @feed.title %></h1>
<table id="feeds" class="table table-striped">
  <thead>
    <tr>
      <th>Article</th>
      <th>Released</th>
    </tr>
  </thead>
  <tbody>
    <% @articles.each do |a| %>
      <tr data-item-id=<%= "#{a.id}" %>>
        <td>
          <h4><%= a.title %></h4>
          <%= a.preview.html_safe %>
          <div class="row text-right">
            <div class="btn-group" role="group" aria-label="...">
              <%= button_tag(type: 'submit', class: "btn btn-default") do %>
                <%= link_to '<span class="glyphicon glyphicon-record"></span>'.html_safe, a, class: "btn-default" %>
              <% end %>
              <% buttonclass = a.recordings.empty? ? "btn btn-default" : "btn btn-default disabled" %>
              <%= button_tag(type: 'submit', class: buttonclass) do %>
                <%= link_to '<span class="glyphicon glyphicon-upload"></span>'.html_safe, new_article_recording_path(a), class: "btn-default" %>
              <% end %>
              <div class="btn-group">
                <%= button_tag(type: 'submit', class: "btn btn-default") do %>
                  <%= link_to '<span class="glyphicon glyphicon-play"></span>'.html_safe, recordings_create_tts_article_path(a), method: :post, class: "btn-default" %>
                <% end %>                
                <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                  <span class="caret"></span>
                  <span class="sr-only">Toggle Dropdown</span>
                </button>                
                <ul class="dropdown-menu" role="menu">
                  <% a.recordings.each do |r| %>
                    <li><%= link_to r.audiofile_file_name, r %></li>
                  <% end %>
                </ul>
              </div>
            </div>
          </div>
        </td>
        <td><small>
          <% if !!(a.pubdate) %>
            Posted <%= time_ago_in_words(a.pubdate) %> ago.
          <% end %>
        </small></td>
      </tr> 
    <% end %>
  </tbody>
</table>

<%= render 'show_article_modal' %>
<%= render 'recordings/new_rec_modal' %>

<div class="btn-group">
  <button type="button" class="btn btn-danger">Action</button>
  <button type="button" class="btn btn-danger dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
    <span class="caret"></span>
    <span class="sr-only">Toggle Dropdown</span>
  </button>
  <ul class="dropdown-menu" role="menu">
    <li><a href="#">Action</a></li>
    <li><a href="#">Another action</a></li>
    <li><a href="#">Something else here</a></li>
    <li class="divider"></li>
    <li><a href="#">Separated link</a></li>
  </ul>
</div>