<% provide(:title, @user.name) %>
<div class="row">
  <aside class="col-md-4">
    <section class="user_info">
      <h1>
        <%= gravatar_for @user %>
        <%= @user.name %>
      </h1>
    </section>
  </aside>
  <div class="col-md-8">
    <% if @user.feeds.any? %>
      <h3>Subscriptions (<%= @user.feeds.count %>)</h3>
      <ul class="feeds">
        <% @user.feeds.each do |f| %>
          <li data-toggle="tooltip" data-placement="right" title="<%= f.id %>"><%= link_to f.title, f %></li>
        <% end %>
      </ul>
    <% end %>
  </div>  
</div>