<%= form_for(subscribe_current_user) do |f| %>
  <%= render 'shared/error_messages', object: f.object %>
  <div class="input-group">
    <%= f.text_field :urlstring, placeholder: "Add new RSS feed URL...", class: "form-control input-small" %>
    <span class="input-group-btn">
      <%= button_tag(type: 'submit', class: "btn btn-primary") do %>
        <span class="glyphicon glyphicon-plus"></span> 
      <% end %>         
    </span>
  </div>
<% end %>