/* Article modal */

.article-modal-dialog {
  width: 800px         !important;
}
.article-modal-body {
  overflow-y: auto     !important;
  max-height: 500px    !important;
}

.modal-body {
  overflow-y: auto;
}

.button-col-md-1 {
  padding-left: 0px         !important;
}