<aside class="col-md-3 sidebar">
  <section class="user_info">
    <%= render 'shared/user_info' %>
  </section>
  <section class="subscription_form">
    <%= render 'shared/subscription_form' %>
  </section> 
  <h4>BoT Recordings</h4>
  <ul class="nav nav-sidebar">
    <li><%= link_to "Placeholder", "#" %></li>
  </ul>
  <h4>Subscriptions</h4>
  <ul class="nav nav-sidebar">
    <% current_user.feeds.each do |f| %>
      <li <%= ("class= \"active\"") if ((!!@feed) && (f.id == @feed.id)) %>><%= link_to f.title, feed_articles_path(f) %></li>
    <% end %>
  </ul>
  <h4>Playlists</h4>
  <ul class="nav nav-sidebar">
    <li><%= link_to "Placeholder", "#" %></li>
  </ul>  
</aside>