<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
    <%= link_to "Blogs on Tape", root_path, id: "logo" %>
    <nav>
      <ul class="nav navbar-nav pull-right">
        <li><%= link_to "Help",   help_path %></li>
        <% if logged_in? %>
          <% if current_user.admin? %>
            <li><%= link_to "Users", users_path %></li>
            <li><%= link_to "Feeds", feeds_path %></li>
          <% end %>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              <span class="glyphicon glyphicon-user" aria-hidden="true"></span> <%= current_user.name %> <b class="caret"></b>
            </a>
            <ul class="dropdown-menu">
              <li><%= link_to '<span class="glyphicon glyphicon-user"></span> Profile'.html_safe, current_user %></li>
              <li><%= link_to '<span class="glyphicon glyphicon-cog"></span> Settings'.html_safe, edit_user_path(current_user) %></li>
              <li class="divider"></li>
              <li>
                <%= link_to '<span class="glyphicon glyphicon-log-out"></span> Log Out'.html_safe, logout_path, method: "delete" %>
              </li>
            </ul>
          </li>        
        <% else %>
          <li><%= link_to '<span class="glyphicon glyphicon-log-in"></span> Log In'.html_safe, login_path %></li>
        <% end %>
      </ul>
    </nav>
  </div>
</header>